<h1>Directivas de atributo</h1>

<p [ngStyle]="getStyles()">Un parrafo</p>
<p [ngClass]="{ letraMorada: false, centrado: centrado }">otro parrafo</p>

<button type="button" (click) = "izquierda()" > Pulsameeeeeeeee </button>

<p [appMarcar] ="'red'"> Texto Marcado</p>
<p [appMarcar] ="'blue'"> Texto Marcado</p>


<input type="text" appPowermode >

<h1>Directivas estructurales</h1>
<p *ngIf="mostrar; else parteDeElse">Se muestra</p>
<ng-template #parteDeElse>
    <p>No se muestra nada</p>
</ng-template>
<button type="button" (click) = "cambiarMostrar()">Mostrar</button>


<div *ngIf = "mostrar; then mostrarIf else mostrarElse"></div>
<ng-template #mostrarIf>
    <p>Se muestra el if</p>
</ng-template>
<ng-template #mostrarElse>
    <p>Se muestra el else</p>
</ng-template>

<ul>
    <li *ngFor = "let item of items; let pos = index" >{{ pos }}: {{ item }}</li>
</ul>

<div [ngSwitch] = "mascota" >
    <p *ngSwitchCase = "'perro'"> Tengo un perro</p>
    <p *ngSwitchCase = "'gato'"> Tengo un gato</p>
    <p *ngSwitchDefault> No tengo naaaa </p>
</div>

<p *appUnless = "mostrar"> EL UNLESS</p>